# .gitignore

# Ignore node_modules
node_modules/

# Ignore environment variables
.*.env

# Ignore TypeScript build output
dist/

# Ignore mochawesome report
mochawesome-report/

.DS_Store
.idea

/output/
